doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title

        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/auth/login' class="loggedout") LOGIN
                        li
                            a(href='/auth/register' class="loggedout") REGISTER
        .container
            .main-content
            if success_msg && success_msg.length
                .alert.alert-success
                    strong #{success_msg}
            if error_msg && error_msg.length
                .alert.alert-danger
                    strong #{error_msg}
            if error && error.length
                .alert.alert-danger
                    strong #{error}
    h1 PLEASE REGISTER:

    //? insert role="form"
    form(action='/auth/register', method="post")


        fieldset.form-group
            label() Username:
            textarea.form-control.input-sm(name="username", type="text", placeholder="Enter a Username", required)
        fieldset.form-group
            label() Password:
            textarea.form-control.input-sm(name="password", type="password", placeholder="Enter Password",  required)
        //a.btn.btn-primary(href="") Submit
        fieldset.form-group
            label() Confirm Password:
            textarea.form-control.input-sm(name="password2", type="password2", placeholder="Enter Password",  required)

        button.btn.btn-primary(type="submit" value='Log In') Submit
        a.btn.btn-default(href="/") Cancel

    script(src="/jquery.min.js", type="text/javascript")
    script(src='/input.js',type="text/javascript")